/***********
* default  *
***********/

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body,
body * {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
}

body {
    font-weight: 300;
    font-size: 1em;
    background-color: #d5c4a180;
}

body.night {
    background-color: #202020;
    color: #d5c4a1;
}

#container {
    min-height: 100%;
    position: relative;
}

a {
    color: #458B00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #4A7023;
}

main {
    max-width: 100%;
    width: 1170px;
    padding: 50px;
    padding-bottom: 140px;
    margin: auto;
    word-wrap: break-word;
}

.post-header,
.posts-header {
    font-size: 1.15em;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #20202020;
}

div > .posts + .posts-header {
padding-top: 20px;
}

body.night .post-header,
body.night .posts-header {
    border-color: #fbf1c720;
}

.italic {
    font-style: italic;
}

.faded {
    color: #00000080;
}

body.night .faded {
    color: #d5c4a180;
}

img {
    max-width: 100%;
    height: auto;
}

img#sunset,
img#sunrise {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 70px;
    text-align: center;
    padding-bottom: 20px;
}

#footer {
    max-width: 100%;
    width: 1170px;
    display: inline-block;
    border-top: 1px solid #20202020;
    padding-top: 20px;
}

body.night #footer {
    border-color: #fbf1c720;
}

/***********
*** home ***
***********/

div.column-container {
    display: flex;
}

div.column-container > div {
    flex: 50%;
}

div.column-container > div + div {
    margin-left: 20px;
}

.posts-header {
    display: inline-block;
    padding-right: 100px;
}

ul.posts {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul.posts li + li {
    padding-top: 10px;
}

/***********
*** post ***
***********/

.post-header {
    display: flex;
    justify-content: space-between;
}

/***********
*** field_day ***
***********/

.field-day-nav {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

/***********
** error  **
***********/

.error {
    font-size: 1.15em;
    text-align: center;
    border: none;
}

/***********
*** all  ***
***********/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 1270px) {
    main {
        width: 970px;
    }

    #footer {
        width: 970px;
    }
}

@media only screen and (max-width: 1070px) {
    main {
        max-width: calc(100% - 150px);
        width: 750px;
    }

    #footer {
        max-width: calc(100% - 150px);
        width: 750px;
    }

    div.column-container {
        flex-direction: column-reverse;
    }

    div.column-container > div + div {
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .post-header {
        flex-direction: column;
    }

    #postDate {
        margin-top: 10px;
    }
}
