---
layout: default
title: MyGreenEyeD
---

<div class="posts-header">Entries</div>
<ul class="posts">
    {% if site.data.nav %}
    {% for family in site.data.nav %}
    <li><a href=".{{ family.url }}">{{ family.title }}</a>
        {% if family.items %}
        <ul>
            {% for genus in family.items %}
            <li>
                {% if genus.url %}
                <a href=".{{ family.url }}{{ genus.url }}">{{ genus.title }}</a>
                {% else %}
                {{ genus.title }}
                {% endif %}
                {% if genus.items %}
                <ul>
                    {% for species in genus.items %}
                    <li><a href=".{% if family.url %}{{ family.url }}{% endif %}{% if genus.url %}{{ genus.url }}{% endif %}{{ species.url }}">{{ species.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
    {% endif %}
</ul>
