---
layout: default
title: MyGreenEyeD
---
<div class="column-container">
    <div>
        <div class="posts-header">Families</div>
        <ul class="posts">
            {% assign fams = site.pages | where: "layout", "family" %}
            {% for fam in fams %}
            <li>
                <a href="{{ fam.url | relative_url }}">{{ fam.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <div class="posts-header">Discovery Log</div>
        <ul class="posts">
            {% assign entries = site.pages | where: "discovery", "true" %}
            {% for entry in entries %}
            <li class="post">
                <a class="post-title" href="{{ entry.url | relative_url }}"><span class="italic">{{ entry.title }}</span> ({{ entry.commonname }})</a>
                <span class="post-date">
                    <i>| {{ entry.date | date: "%a, %b %-d, %Y" }}</i>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
