<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body>
    <div id="container">
        <main>
            <div class="post-header">
                <span>
                    <a href="{{ "." | relative_url }}">Home</a>
                    <span class="faded">&rsaquo;</span>
                    {{ page.title }}{% if page.commonname %} ({{ page.commonname }}){% endif %}
                </span>
            </div>
            <div class="column-container">
                {% assign c = content | strip %}
                {% if c != empty %}
                <div>
                    {{ c }}
                </div>
                {% endif %}
                <div>
                    {% assign genera = site.pages | where: "family", page.title | where: "layout", "genus" %}
                    <p>{% if genera.size == 1 %}Genus:{% else %}Genera:{% endif %}</p>
                    <ul>
                    {% for genus in genera %}
                        {% assign species = site.pages | where: "family", page.title | where: "genus", genus.title %}
                        <li>
                            <a href="{{ genus.url | relative_url}}"><span class="italic">{{ genus.title }}</span>{% if genus.commonname %} ({{ genus.commonname }}){% endif %}</a>
                            {% if species.size > 0 %}<span class="faded">| {{ species.size }} species</span>{% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </main>
        {% include footer.html %}
    </div>
</body>
</html>
