<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body>
    <div id="container">
        <nav class="field-day">
            <div class="navbar">
                {% assign currNum = page.url | split: "/" | last %}
                {% assign prevNum = currNum | minus: 1 %}
                {% capture prevFieldDay %}Field Day {{ prevNum }}{% endcapture %}
                {% assign prevFieldDayPage = site.pages | where: "title", prevFieldDay | first %}
                <span>
                    {% if prevFieldDayPage %}
                    <a href="{{ prevFieldDayPage.url | relative_url }}">&lsaquo; {{ prevFieldDayPage.title }}</a>
                    {% endif %}
                </span>
                <div class="nav-center">
                    <div class="main-title">{{ page.title }}</div>
                    <div id="postDate" class="faded">{{ page.date | date: "%A, %B %-d, %Y" }}</div>
                </div>
                {% assign nextNum = currNum | plus: 1 %}
                {% capture nextFieldDay %}Field Day {{ nextNum }}{% endcapture %}
                {% assign nextFieldDayPage = site.pages | where: "title", nextFieldDay | first %}
                <span>
                    {% if nextFieldDayPage %}
                    <a href="{{ nextFieldDayPage.url | relative_url }}">{{ nextFieldDayPage.title }} &rsaquo;</a>
                    {% endif %}
                </span>
            </div>
        </nav>
        <main class="field-day">
            <div>
                <ul class="posts">
                    {% for item in page.list %}
                        {% assign item_page = site.pages | where: "title", item | first %}
                    <li>
                        <a href="{{ item_page.url | relative_url }}"><span class="italic">{{ item }}</span>{% if item_page.commonname %} ({{ item_page.commonname }}){% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </main>
        {% include footer.html %}
    </div>
</body>
</html>
