<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body>
    {% include nav.html %}
    <main>
        <div class="post-header">
            {% assign family = site.pages | where:"title", page.family | first %}
            <span>
                <a href="{{ family.url | relative_url }}">{{ family.title }}</a>
                /
                <i>{{ page.title }}</i> ({{ page.commonname }})
            </span>
        </div>
        <div>
            {{ content }}
        </div>
    </main>
    {% include footer.html %}
</body>
</html>