<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body>
    <div id="container">
        <main>
            <div class="post-header">
                <span>
                    <a href="{{ "." | relative_url }}">Home</a>
                    /
                    {% assign family = site.pages | where: "title", page.family | first %}
                    <a href="{{ family.url | relative_url }}">{{ family.title }}</a>
                    /
                    {% assign genus = site.pages | where: "title", page.genus | where: "family", page.family | first %}
                    <a class="italic" href="{{ genus.url | relative_url }}">{{ genus.title }}</a>
                    /
                    <span class="italic">{{ page.title }}</span>{% if page.commonname %} ({{ page.commonname }}){% endif %}
                </span>
                {% if page.date %}
                <span id="postDate" class="faded">Observed: {{ page.date | date: "%A, %B %-d, %Y" }}</span>
                {% endif %}
            </div>
            <div>
                {{ content }}
            </div>
        </main>
        {% include footer.html %}
    </div>
</body>
</html>
